{% extends 'main/layout.html' %}

{% block content %}


<div class='bl4 block_about'>
    <h1>Всем привет!</h1>
    <p>Я - студентка, а именно поэтому меня заинтересовала тема поиска стажировок.</p>
    <h4>Сейчас существует множетсво сайтов для поиска работы, подработок, стажировок, но обычному студенту очень сложно найти работу, потому что среди всех объявлений мало мест, где берут без опыта работы и по специальности.</h4>
    <p>Поэтому и пришла идея создания данного Web-ресурса.</p>
</div>

<div class="bl5 block_about">
    <h1>Немного обо мне:</h1>
</div>

<div class="bl7 block_about"> 
    <img src="/media/about/Ig.jpg" align="left">
      <h1>Игошкина Анастасия</h1>
      <p>Проанализировала требования и составила техническое и функциональное задания. Это является первым этапом разработки проекта. Также составила схему базы данных, чтобы, отталкиваясь от схемы БД, можно было приступить к следующему шагу. Дальше идет уже практическая часть: создание самого проекта на django, где прописываются связи между БД и остальными файлами.</p>
</div>


{% endblock %}

{% block title %} About {% endblock %}