{% extends 'main/layout.html' %}

{% block content %}

<div class="vac_poisk bl_vac_list">
    <div>
        <form action="" method="get">
            {{ form5.as_p }}
            <input type="submit" value="Поиск" class="button_form">
        </form>
    </div>

    <h1>Вакансии</h1>
    {% for el in jobs %}
    <div class="bl12" id="bl12_razrab">
        <a href="{% url 'job_detail' el.id %}">
            <h3>{{ el.title}}</h3>
            <p>{{ el.anons }}</p>
        </a>
    </div>
    {% endfor %}
</div>
<div class="bl_art_list">
    <h1>Статьи</h1>
    {% for el in news %}
    <div class="bl11">
        <a href="{% url 'news_detail' el.id %}">
            <h3>{{ el.title}}</h3>
            <p>{{ el.anons }}</p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block title %} Job {% endblock %}